.Home {
  &__main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__wrapLogo {
    max-width: 200px;
    margin-bottom: 1.45rem;

    path {
      fill-opacity: 0;
      stroke-width: 6px;
      stroke: #cbcbcb;
      stroke-opacity: 1;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1300;
      /* transition: all; */

      animation: ADrawStrokeLogoZandome 3.5s linear 700ms both,
        AColorFillLogoZandome 3s ease-out 2.5s both;
    }
  }

  &__wrapText {
    margin-top: 2rem;

    > span {
      font-size: 25px;
      font-weight: bold;
      user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      animation: AFadeLoadingText 2s ease 700ms both;
    }
  }

  &__dot {
    font-size: 30px;
    margin: 0 2px;
    animation-name: ABlinkDotLoadingText;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes ADrawStrokeLogoZandome {
  0% {
    stroke-opacity: 0;
  }
  25% {
    stroke-opacity: 1;
  }
  90% {
    stroke-width: 6px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
    stroke-width: 4px;
  }
}

@keyframes AColorFillLogoZandome {
  to {
    fill-opacity: 1;
    stroke-width: 1px;
    stroke-opacity: 0;
  }
}

@keyframes AFadeLoadingText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes ABlinkDotLoadingText {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
