.Home {
  &__main {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }

  &__wrapLogo {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 100px);
    margin: 0 auto;
    max-width: 200px;
    transition: all;
    // margin-bottom: 1.45rem;
    // animation:  MoveZandomeLogoToTop 1.4s cubic-bezier(0.165, 0.84, 0.44, 1) 4s both;

    path {
      fill-opacity: 0;
      stroke-width: 8px;
      stroke: #cbcbcb;
      stroke-opacity: 1;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1300;

      animation: ADrawStrokeLogoZandome 3.5s ease-out 700ms both,
        AColorFillLogoZandome 2s ease-out 3s both,
        PulseFillZandomeLogo 2.5s ease-out 5s infinite alternate;
    }
  }

  &__wrapText {
    margin-top: 2rem;

    > span {
      font-size: 25px;
      font-weight: bold;
      user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      animation: AFadeLoadingText 2s ease 700ms both;
    }
  }

  &__dot {
    font-size: 30px;
    margin: 0 2px;
    animation-name: ABlinkDotLoadingText;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes ADrawStrokeLogoZandome {
  0% {
    stroke-opacity: 0;
  }
  25% {
    stroke-opacity: 1;
    stroke-width: 4px;
  }
  75% {
    stroke-width: 2px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
    stroke-width: 4px;
  }
}

@keyframes MoveZandomeLogoToTop {
  to {
    top: 50px;
    max-width: 50px;
  }
}

@keyframes AColorFillLogoZandome {
  to {
    fill-opacity: 1;
    stroke-width: 1px;
    stroke-opacity: 0;
  }
}

@keyframes PulseFillZandomeLogo {
  from {
    fill-opacity: 1;
    stroke-width: 1px;
    stroke-opacity: 0;
  }
  to {
    
    fill-opacity: 0.2;
    stroke-dashoffset: 1320;
    stroke-width: 4px;
    stroke-opacity: 1;
  }
}

@keyframes AFadeLoadingText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes ABlinkDotLoadingText {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
